<!DOCTYPE html>
<html>
<head>
	<title>Heap</title>
	<link rel="stylesheet" href="style2.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Heap</p>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let algo = [
			{
				name: 'Heap ',
				link: `heap/heap.html`
			},
			{
				name: 'Heapify',
				link: `heap/heapify.html`
			},
			{
				name: 'Heap Sort',
				link: `heap/heap_sort.html`
			}

		]
		init();

// Utility function 

		function init() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${e.link}" class="algo__link">${e.name}</a>
				`
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}
	</script>
</body>
</html>
