<!DOCTYPE html>
<html>
<head>
	<title>Sort</title>
	

	
	<link rel="stylesheet" href="style2.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Sorting Algorithm</p>
	<div class="visualise">
		<select name="type" class="visualise__array">
			<option value="sort_algorithms">Visualize</option>
			<option value="sort_array">Use Array</option>
		</select>
	</div>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let dir_name = "sort_algorithms"

		let algo = [
			{
				name: 'Bubble sort',
				link: `bubble.html`
			},
			{
				name: 'Selection sort',
				link: `selection.html`
			},
			{
				name: 'Insertion sort',
				link: `insertion.html`
			},
			{
				name: 'Merge sort',
				link: `merge.html`
			},
			{
				name: 'Quick sort',
				link: `quick.html`
			},
			{
				name: 'Counting sort',
				link: `counting.html`
			},
			
		]
		init();

// Utility function 

		function create_link() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${dir_name}/${e.link}" class="algo__link">${e.name}</a>
				`
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}

		function init() {
			if(localStorage.getItem("dirname")) {
				dir_name = localStorage.getItem("dirname");
				document.querySelector(".visualise__array").value = dir_name;
				console.log(dir_name)
				
			}
			create_link();
			document.querySelector(".visualise__array").addEventListener("click",(e) => {
				let p = document.querySelector(".visualise__array").value;
				dir_name = p;
				localStorage.setItem("dirname", p);
				document.querySelector(".grid").innerHTML = "";
				create_link();
			})
		}
	</script>
</body>
</html>

