<!DOCTYPE html>
<html>
<head>
	<title>Stack</title>
	<link rel="stylesheet" href="style2.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Stack</p>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let algo = [
			{
				name: 'Stack',
				link: `stack/stack_adt.html`
			},
			{
				name: 'Balanced Bracket',
				link: `stack/balanced_bracket.html`
			},
			{
				name: 'Infix to Postfix',
				link: `stack/infix_to_postfix.html`
			},
			{
				name: 'Infix to Prefix',
				link: `stack/infix_to_prefix.html`
			},
			{
				name: 'Postfix evaluation',
				link: `stack/postfix_evaluation.html`
			},
			{
				name: 'Prefix evaluation',
				link: `stack/prefix_evaluation.html`
			}
		]
		init();

// Utility function 

		function init() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${e.link}" class="algo__link">${e.name}</a>`
			
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}
	</script>
</body>
</html>
